*{
  margin: 0;
  padding: 0;
}
html，body{
  width: 100%;
  height: 100%;
}
.swiper-container{
  width: 375px;
  margin: 0 auto;
  height: 642px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
